# This workflow will install Python dependencies, run tests via tox using single version of Python(v3.10). 
# The test triggers when there is a pull request to the main branch.
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ["ubuntu-latest"]
        python: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3

      - name: Install tox, tox-conda and py
        shell: bash -l {0}
        run: |
          conda install -c conda-forge tox tox-conda py

      - name: Run tox
        shell: bash -l {0}
        run: tox
