# This workflow will install Python dependencies, run tests via tox using single version of Python(v3.10). 
# The test triggers when there is a pull request to the main branch.
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ["ubuntu-latest"]
        python: ["3.10","3.11","3.12","3.13"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python }}
          auto-update-conda: true

      - name: Install mamba
        run: |
          conda install -y mamba -c conda-forge

      - name: Create environment with mamba
        run: |
          mamba env update -f environment.yml -n testenv
          conda activate testenv

      - name: Test with pytest
        run: |
          conda activate testenv
          pytest
